<div class="container con">
  <div class="row">
    <h1 class="header mt-3">< Orders</h1>
  </div>
  <div class="row">
    <div class="p-1">
      <div class="card mb-3 car p-2">
        <div class="row mt-1 mb-1">
          <div class="col-sm-5">
            <p>
              Show
              <span>
                <select name="Owner" id="Owner">
                  <option value="volvo">10</option>
                  <option value="saab">25</option>
                  <option value="opel">50</option>
                  <option value="audi">100</option>
                </select> </span
              >entries
            </p>
          </div>
          <div class="col-sm-7">
            <label class="label1"
              >Search:
              <span> <input type="text" placeholder="" aria-label="" /></span>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="table-responsive">
            <table class="table  table-bordered">
              <thead>
                <th><button type="button" class="btn">Album ID</button></th>
                <th>
                  <button type="button" class="btn">Customer Name</button>
                </th>
                <th><button type="button" class="btn">Phone Number</button></th>
                <th><button type="button" class="btn">Download</button></th>
                <th><button type="button" class="btn">No.of Albums</button></th>
                <th><button type="button" class="btn">Status</button></th>
                <th><button type="button" class="btn">Order Date</button></th>
              </thead>
              <tbody class="accordion" id="accordionExample">
                <tr class="table-light">
                  <td>
                    <div class="accordion-item">
                      <div class="accordion-header">
                        <div
                          class="accordion-button acbut p-0 rounded-circle"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseOne"
                          aria-expanded="true"
                          aria-controls="collapseOne"
                        ></div>
                        MGB151230707225
                      </div>
                    </div>
                  </td>
                  <td class="">Vijay kumar Jakkula</td>
                  <td>9963879607</td>
                  <td class="text-center icon">
                    <i class="bi bi-download m-auto"></i>
                  </td>
                  <td>1</td>
                  <td class="text-center">
                    Received <br />
                    <button type="button" class="btn btn1">Printed</button>
                  </td>
                  <td>07-07-2023 03:02 PM</td>
                </tr>
                <tr>
                  <td colspan="7" class="p-0">
                    <div
                      id="collapseOne"
                      class="accordion-collapse collapse show"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="accordion-body">
                        <div class="row rr">
                          <div class="col-sm-2">
                            <label>Remaining Albums </label>
                          </div>
                          <div class="col-sm-10">23</div>
                        </div>
                        <hr class="hr11" />
                        <div class="row rr">
                          <div class="col-sm-2">Subject</div>
                          <div class="col-sm-10">Done</div>
                        </div>
                        <hr class="hr11" />
                        <div class="row rr">
                          <div class="col-sm-2">Re-Order</div>
                          <div class="col-sm-10">0</div>
                        </div>
                        <hr class="hr11" />
                        <div class="row">
                          <div class="col-sm-2">Address</div>
                          <div class="col-sm-10">
                            3-12<br />
                            karimnagar<br />
                            karimnagar<br />
                            karimnagar<br />

                            505415
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="accordion-item">
                      <div class="accordion-header">
                        <div
                          class="accordion-button acbut p-0 rounded-circle"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseTwo"
                          aria-expanded="false"
                          aria-controls="collapseTwo"
                        ></div>
                        MGB407240301251
                      </div>
                    </div>
                  </td>
                  <td class="">Pradeep Vodnala</td>
                  <td>8464865361</td>
                  <td class="text-center icon">
                    <i class="bi bi-download m-auto"></i>
                  </td>
                  <td>1</td>
                  <td class="text-center">
                    Prined<br />
                    <button type="button" class="btn btn2">Dispatched</button>
                  </td>
                  <td>01-03-2024 11:22 AM</td>
                </tr>
                <tr>
                  <td colspan="7" class="p-0">
                    <div
                      id="collapseTwo"
                      class="accordion-collapse collapse "
                      data-bs-parent="#accordionExample"
                    >
                      <div class="accordion-body">
                        <div class="row rr">
                          <div class="col-sm-2">
                            <label>Remaining Albums </label>
                          </div>
                          <div class="col-sm-10">9</div>
                        </div>
                        <hr class="hr11" />
                        <div class="row rr">
                          <div class="col-sm-2">Subject</div>
                          <div class="col-sm-10"></div>
                        </div>
                        <hr class="hr11" />
                        <div class="row rr">
                          <div class="col-sm-2">Re-Order</div>
                          <div class="col-sm-10">0</div>
                        </div>
                        <hr class="hr11" />
                        <div class="row">
                          <div class="col-sm-2">Address</div>
                          <div class="col-sm-10">
                            1-60 <br>
                            padmashali street <br>
                            water tank <br>
                            ganneruvaram <br>
                             1-60<br>
                            505530
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr class="table-light">
                    <td>
                        <div class="accordion-item">
                            <div class="accordion-header">
                              <div
                                class="accordion-button acbut p-0 rounded-circle"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseThree"
                                aria-expanded="false"
                                aria-controls="collapseThree"
                              ></div>
                              MGB410240628261
                            </div>
                          </div>

                    </td>
                    <td class="">Sateesh  Nallapu</td>
                    <td>9347279432</td>
                    <td class="text-center icon">
                      <i class="bi bi-download m-auto"></i>
                    </td>
                    <td>1</td>
                    <td class="text-center">
                      Ordered<br />
                      <button type="button" class="btn btn3">Received</button>
                    </td>
                    <td>28-06-2024 05:10 PM
                    </td>
                </tr>
                <tr>
                    <td colspan="7" class="p-0">
                        <div
                        id="collapseThree"
                        class="accordion-collapse collapse "
                        data-bs-parent="#accordionExample"
                      >
                        <div class="accordion-body">
                          <div class="row rr">
                            <div class="col-sm-2">
                              <label>Remaining Albums </label>
                            </div>
                            <div class="col-sm-10">9</div>
                          </div>
                          <hr class="hr11" />
                          <div class="row rr">
                            <div class="col-sm-2">Subject</div>
                            <div class="col-sm-10"></div>
                          </div>
                          <hr class="hr11" />
                          <div class="row rr">
                            <div class="col-sm-2">Re-Order</div>
                            <div class="col-sm-10">0</div>
                          </div>
                          <hr class="hr11" />
                          <div class="row">
                            <div class="col-sm-2">Address</div>
                            <div class="col-sm-10">
                                2-16/B2<br>
                                srirama colony<br>
                                opp SBI ADB BANK<br>
                                Manthani<br>
                                2-16/B2<br>
                                505184
                            </div>
                          </div>
                        </div>
                      </div>

                    </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
              <p class="mt-2 mb-3">Showing 1 to 10 of 210 entries</p>
            </div>
            <div class="col-sm-6">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                      <li class="page-item disabled">
                        <a class="page-link">Previous</a>
                      </li>
                      <li class="page-item"><a class="page-link anchor" href="#">1</a></li>
                      <li class="page-item"><a class="page-link anchor" href="#">2</a></li>
                      <li class="page-item"><a class="page-link anchor" href="#">3</a></li>
                      <li class="page-item"><a class="page-link anchor" href="#">4</a></li>
                      <li class="page-item"><a class="page-link anchor" href="#">5</a></li>
                      <li class="page-item">
                        <a class="page-link anchor" href="#">Next</a>
                      </li>
                    </ul>
                  </nav>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>
