<div class="container-fluid con">
    <div class="row">
        <div class="col-sm-4 m-auto ps-2 pe-2">
            <div class="card ms-3 card1 rounded">
                <div class="card-header chead">
                    <h5 class="text-center mt-3">SIGN IN NOW</h5>

                </div>
                <div class="card-body">
                    <div class="text-center">
                        <img class="" width="100%" height="180px" src="assets\logo.jpg">
                        <input type="text" class="form-control mt-3 ip" placeholder="OwnerID" aria-label="OwnerID" aria-describedby="basic-addon1">
                        <input type="text" class="form-control mt-3 ip" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                        <button class="btn form-control mt-3 ip" type="submit"><i class="bi bi-lock-fill"></i>SIGN IN</button>

                    </div>
                    

                </div>
            </div>
        </div>

    </div>
</div>
